body, html {
    background-color: #1A123D;
    font-family: Helvetica Neue, Helvetica;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
strong,
em,
h6 {
    color: white;
}

.title, .subtitle {
    color: white;
}

.site-wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background: #382A5D url("../img/header.png") no-repeat bottom left;
    height: 600px;
    padding: 10px;
}

.header .top-bar {
    margin-bottom: 30px;
}

.header .logo {
    margin-left: 10px;
    margin-top: 5px;
}

.code-demo {
    background: url("../img/code-sample1.png") no-repeat;
    height: 629px;
    right: 0px;
    top: -450px;
    position: absolute;
    width: 593px;
}

.header .title {
    text-align: center;
    font-size: 57px;
}

.header .subtitle {
    text-align: center;
    font-size: 32px;
}

.content-wrapper .subtitle {
    color: #3F385D;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.content-wrapper .title {
    color: #645D7D;
    max-width: 600px;
    font-size: 31px;
    margin-top: 20px;
    text-align: center;
    font-weight: normal;
    margin: 0 auto;
    margin-top: 40px;
}

.cta .small {
    color: #AEABBD;
    text-align: center;
    width: auto;
    font-size: 15px;
    margin-top: 5px;
}

.cta {
    text-align: center;
}

.cta .button {
    margin-top: 10px;
    background-color: #382A5C;
    color: white;
    border-radius: 11px;
}

.cta .button:hover {
    background-color: #3C3353;
}

.cta .button img {
    filter: invert(100%) sepia(0%) saturate(7464%) hue-rotate(52deg) brightness(119%) contrast(100%);
    width: 24px;
    margin-right: 10px;
    display: block;
}

.content-wrapper {
    background: #FAFAFA;
    margin: 0px;
    padding: 5px 15px;
    min-height: 500px;
    position: relative;
}

.content-wrapper .subtitle {
    margin-top: 20px;
    float: left;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    margin-top: 0px;
    background: #382A5D;
    color: white;
    padding: 0px;
    min-height: 100px;
}

.code-demo-mobile {
    display: none;
    margin: 0 auto;
    margin-top: -40px;
    transform: scale(1.1);
}

.clear {
    clear: both;
}

.widget {
    background: #F8F7FD;
    border-radius: 10px;
    vertical-align: middle;
    padding: 21px 18px;
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1);
}

.widget img {
    float: right;
    width: 36px;
    height: 36px;
    filter: invert(7%) sepia(51%) saturate(3677%) hue-rotate(243deg) brightness(30%) contrast(98%);
}

.widget h3 {
    color: #3F385D;
    font-size: 29px;
    line-height: 26px;
    float: left;
}

.widget h3 span {
    display: block;
    color: rgba(63, 56, 94, .63);
    font-size: 15px;
}

.about {
    background: #F8F7FD;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1);
}

.about,
.examples,
.learn,
.downloads {
    margin: 120px auto;
}

.cta {
    margin: 100px 0;
}

.about p {
    color: #89859D;
    margin-bottom: 15px;
}

.examples { 
    text-align: center;
    position: relative;
}

.examples .controller { 
    width: 100px;
    height: 100px;
    top: 250px;
    position: absolute;
    z-index: 10;
}

.examples .controller.prev { 
    left: 0px;
}

.examples .controller.next { 
    right: 0px;
}

.examples .wrapper {
    max-height: 400px;
    overflow: hidden;
    background: url("../img/divider.png") no-repeat bottom center;
}

.examples .wrapper img {
    margin-top: -70px;
    max-width: 90%;
    z-index: 1;
}

.examples ul {
    text-align: center;
    max-width: 600px;
    margin: 15px auto;
    display: block;
}

.examples ul li {
    line-height: 13px;
    display: inline-block;
}

.examples .see-code {
    display: block;
    color: #89859D;
    font-size: 11px;
    padding: 5px;
}

.examples .screenshot-link {
    display: block;
    z-index: 1;
    position: relative;
}

.examples ul li a {
    position: relative;
    color: #89859D;
    font-size: 14px;
    float: left;
    padding: 5px 20px;
    z-index: 99;
    display: inline-block;
}

.examples ul li a.active {
    text-decoration: underline;
}

.downloads .columns {
    margin: 10px 0;
}

.downloads .wrapper {
    max-width: 350px;
    margin: 5px auto;
    background: #F8F7FD;
    border-radius: 10px;
    vertical-align: middle;
    padding: 15px 18px;
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1);
}

.downloads h4 {
    color: #3F385D;
    font-size: 25px;
}

.downloads h5 {
    color: rgba(63, 56, 93, 0.63);
    font-size: 15px;
}

.downloads img {
    margin: 5px 0;
}

.downloads .content {
    margin: 0px;
    padding: 0px;
}

.downloads ul {
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    margin-left: 19px;
}

.downloads li {
    color: rgba(63, 56, 93, 0.69);
    font-size: 16px;
    line-height: 23px;
}

.downloads .button {
    width: 100%;
    border-radius: 13px;
    background: #382A5C;
    color: white;
    margin-top: 5px;
    height: 33px;
    font-size: 15px;
}

.learn .wrapper {
    max-width: 720px;
    margin: 15px auto;
    background: #F8F7FD;
    border-radius: 10px;
    vertical-align: middle;
    padding: 5px 18px 20px 18px;
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.1);
}

.learn li {
    line-height: 32px;
}

.learn a {
    color: #3F385D;
}

.learn .no-bullet {
    list-style: none;
    font-size: 13px;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer ul {
    display: inline-block;
}

.footer ul li {
    float: left;
    display: inline-block;
    margin: 0 5px;
}

.footer ul li a {
    padding: 10px;
    display: inline-block;
}

.footer p {
    margin-top: 20px;
    font-size: 14px;
}

.navigation {
    float: right;
    display: inline-block;
    margin-top: 14px;
    margin-right: 10px;
}

.navigation li {
    float: left;
    margin-left: 22px;
    display: inline-block;
}

.navigation a {
    color: #F9F9F9;
    font-size: 14px;
    padding: 5px;
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}

@media(min-width: 1024px) {

    .widgets {
        max-width: 900px;
        margin: 0 auto;
    }

    .site-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .site-wrapper .subtitle {
        margin-top: 40px;
    }

    .header {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
    }

    .footer {
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
    }

    .examples .wrapper img {
        margin-top: -145px;
    }

    .downloads .wrapper.desktop {
        float: right;
        margin-right: 10px;
    }

    .downloads .wrapper.cloud {
        float: left;
        margin-left: 10px;
    }

}

@media(max-width: 1024px) {
    .examples .wrapper img {
        margin-top: -145px;
    }

}

@media(max-width: 915px) {
    .header .title {
        font-size: 48px;
    }

    .header .subtitle {
        font-size: 27px;
    }

    .code-demo {
        top: -465px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-wrapper .subtitle {
        margin-top: 70px;
        float: none;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .examples .wrapper img {
        margin-top: -125px;
    }
}

@media(max-width: 767px) {
    .header .title {
        font-size: 45px;
    }

    .header .subtitle {
        font-size: 25px;
    }

    .code-demo {
        display: none;
    }

    .code-demo-mobile {
        display: block;
    }

    .content-wrapper .subtitle {
        margin-top: 20px;
    }

    .examples .wrapper img {
        margin-top: -100px;
    }

    .examples .controller img {
        width: 40px;
        height: 40px;
    }

    .examples .controller.prev { 
        left: -20px;
    }

    .examples .controller.next { 
        right: -20px;
    }
}


@media(max-width: 600px) {
    .examples .wrapper img {
        margin-top: -80px;
    }

    .examples .controller {
        top: 300px;
    }

    .examples .controller.prev { 
        left: -30px;
    }

    .examples .controller.next { 
        right: -30px;
    }

    .navigation .learn-link {
        display: none;
    }
}

@media(max-width: 450px) {
    .header .title {
        font-size: 35px;
    }

    .header .subtitle {
        font-size: 18px;
    }

    .code-demo-mobile {
        margin-top: 40px;
        transform: scale(1.5);
    }

    .examples .wrapper img {
        margin-top: -50px;
    }

    .navigation .download-link {
        display: none;
    }

    .examples .controller {
        top: 350px;
    }

    .examples .controller img {
        width: 30px;
        height: 30px;
    }

    .examples .controller.prev { 
        left: -40px;
    }

    .examples .controller.next { 
        right: -40px;
    }
}

@media(max-width: 319px) {

    .examples ul li a {
        display: block;
        float: none;
        width: 100%;
    }

    .examples .controller {
        display: none;
    }

    .examples .wrapper {
        border: none;
        max-height: none;
    }

    .navigation {
        margin-right: 0px;
    }
}
