body, html {
    background-color: #1A123D;
    font-family: Helvetica Neue, Helvetica;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
strong,
em,
h6 {
    color: white;
}

.title, .subtitle {
    color: white;
}

.site-wrapper {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    background: #382A5D url("/static/img/header.png") no-repeat bottom left;
    height: 600px;
    padding: 10px;
}

.header .top-bar {
    margin-bottom: 30px;
}

.header .logo {
}

.code-demo {
    background: url("/static/img/code-sample1.png") no-repeat;
    height: 629px;
    right: 0px;
    top: -450px;
    position: absolute;
    width: 593px;
}

.header .title {
    text-align: center;
    font-size: 57px;
}

.header .subtitle {
    text-align: center;
    font-size: 32px;
}

.content-wrapper .subtitle {
    color: #3F385D;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}

.content-wrapper {
    background: #FAFAFA;
    margin: 0px;
    padding: 5px;
    min-height: 500px;
    position: relative;
}

.content-wrapper .subtitle {
    margin-top: 20px;
    float: left;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    margin-top: 0px;
    background: #382A5D;
    color: white;
    padding: 0px;
    min-height: 100px;
}

.code-demo-mobile {
    display: none;
    margin: 0 auto;
    margin-top: -40px;
    transform: scale(1.1);
}

@media(min-width: 1024px) {
    .site-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header {
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
    }

    .footer {
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
    }
}

@media(max-width: 915px) {
    .header .title {
        font-size: 48px;
    }

    .header .subtitle {
        font-size: 27px;
    }

    .code-demo {
        top: -465px;
        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-wrapper .subtitle {
        margin-top: 70px;
        float: none;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media(max-width: 767px) {
    .header .title {
        font-size: 45px;
    }

    .header .subtitle {
        font-size: 25px;
    }

    .code-demo {
        display: none;
    }

    .code-demo-mobile {
        display: block;
    }

    .content-wrapper .subtitle {
        margin-top: 10px;
    }
}

@media(max-width: 450px) {
    .header .title {
        font-size: 35px;
    }

    .header .subtitle {
        font-size: 18px;
    }

    .code-demo-mobile {
        margin-top: 40px;
        transform: scale(1.5);
    }


}
